<section>
  <article>
      <div class="grid">
          <div class="column column-6">
              <img src="{{.Base}}/images/chess-logo.png">
          </div>
          <div class="column column-6">
            <h1>CHESS Analysis Pipeline (CHAP) framework</h1>
            <nav class="menu menu-strong menu-pills">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="https://github.com/CHESSComputing/ChessAnalysisPipeline" class="menu-link">Main repository</a>
                    </li>
                    <li class="menu-item">
                        <a href="{{.Base}}/docs" class="menu-link">Documentation</a>
                    </li>
                    <li class="menu-item">
                        <a href="{{.Base}}/workflows" class="menu-link">Workflows</a>
                    </li>
                    <li class="menu-item">
                        <a href="{{.Base}}/notebook?token={{.Token}}" class="menu-link">Notebook</a>
                    </li>
                </ul>
            </nav>
          </div>
      </div>
  </article>
</section>
