<section>
  <article>
      <div class="grid">
          <div class="column column-6">
              <img src="{{.Base}}/images/CHAPaas_logo.png">
          </div>
          <div class="column column-6">
            <h1>CHESS Analysis Pipeline (CHAP) framework</h1>
            was designed to simlify user analysis and follow
            base practices to design, and scale used codebase.
            <br/>
            <br/>
            The <a href="https://github.com/CHESSComputing/ChessAnalysisPipeline">CHAP</a>
            is Python based framework to provide plugable components
            to execute analysis pipeline. It can run on a command line
            or via CHAP as a Service web based framework. It is integrated
            with <a href="https://galaxyproject.org">Galaxy Science gateway</a>.
            <br/>
            <br/>
            CHAP as a service provides easy way to write, maintain, version,
            publish, and be
            <a href="https://new.nsf.gov/funding/opportunities/findable-accessible-interoperable-reusable-open">FAIR</a>
            (Findable Accessible Interoperable Reusable) complaint for any user
            analysis without requiring deep technical knowledge of
            underlying technologies or programming languages.
            <!--
            <nav class="menu menu-strong menu-pills">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="https://github.com/CHESSComputing/ChessAnalysisPipeline" class="menu-link">Main repository</a>
                    </li>
                    <li class="menu-item">
                        <a href="{{.Base}}/docs" class="menu-link">Documentation</a>
                    </li>
                    <li class="menu-item">
                        <a href="{{.Base}}/workflows" class="menu-link">Workflows</a>
                    </li>
                    <li class="menu-item">
                        <a href="{{.Base}}/notebook?token={{.Token}}" class="menu-link">Notebook</a>
                    </li>
                </ul>
            </nav>
            -->
          </div>
      </div>
  </article>
</section>
