<section>
  <article>
      <div class="grid">
          <div class="column column-6">
            <img src="{{.Base}}/images/CHAPaas_logo.png">
            To start either use existing
            <a href="{{.Base}}/workflows">
                Workflow,
            </a>
            or open
            <a href="{{.Base}}/notebook">
                Notebook,
            </a>
            select your input and destination, and only write your
            algorithm to process the data. Everything else, from
            code versioninig, packaging, processing, debugging,
            profiling and integration with Galaxy Science gateway
            will be taken care by this service.
          </div>
          <div class="column column-6">
            <h1>CHESS Analysis Pipeline (CHAP) as a Service</h1>
            is web based service to simplify user analysis by
            hiding complexity of CHAP architecture, and allow to
            follow base practices to design, maintain and distriburte
            users code.
            <br/>
            <br/>
            The <a href="https://github.com/CHESSComputing/ChessAnalysisPipeline">CHAP</a>
            is Python based framework to provide plugable interface
            to execute user workflows as a pipeline.
            It is integrated
            with <a href="https://galaxyproject.org">Galaxy Science gateway</a>,
            and can be used either via code (shell) execution, within
            Galaxy, or via CHAP as a Service interface.
            <br/>
            <br/>
            CHAP as a service provides easy way to write, maintain, version,
            publish user workflows, and make it
            <a href="https://new.nsf.gov/funding/opportunities/findable-accessible-interoperable-reusable-open">FAIR</a>
            (Findable Accessible Interoperable Reusable) complaint
            without requiring any deep technical knowledge of
            underlying technologies or structure of CHAP framework.
            It provides web interface to write user-code and execute
            it with CHAP.
            <br/>
            <br/>
          </div>
      </div>
  </article>
</section>
