<div class="ml-center">
    <div>
        To proceed with CHAP
        please authenticate yourself with
        <a href="https://www.wikiwand.com/en/OAuth">OAuth</a> providers:
    </div>
    <br/>
    <a href="{{.GithubLogin}}">
      <img src="{{.Base}}/images/github_login.png" alt="GitHub login" class="width-200">
    </a>
</div>
