<section>
  <div class="notebook">
    <h1>CHAP Notebook</h1>
    <div class="pipeline">
    <div class="hide" id="workflow" name="workflow">
        <div id="pipeline" name="pipeline"></div>
        <input type="hidden" id="reader" name="reader" value="" />
        <input type="hidden" id="writer" name="writer" value="" />
        <input type="hidden" id="chapworkflow" name="chapworkflow" value="" />
        <input type="hidden" id="token" name="token" value="{{.JupyterToken}}" />
        <input type="hidden" id="base" name="base" value="{{.Base}}" />
    </div>
    </div>

    <div class="grid">
        <div class="column column-3">
            <nav class="menu menu-strong menu-pills">

                <!-- Sub-menu items -->
                <ul class="menu-list">

                    <!-- Input sub-menu -->
                    <!--
                    <li class="menu-item">
                        <a href="javascript:FlipTag('input-menu')" class="menu-link">Input</a>
                        <div class="hide" name="input-menu" id="input-menu">
                            <input class="input input-small" id="input" name="input" placeholder="Input data area, e.g. /nfs/chess/...">
                        </div>
                    </li>
                    -->

                    <!-- Output sub-menu -->
                    <!--
                    <li class="menu-item">
                        <a href="javascript:FlipTag('output-menu')" class="menu-link">Output</a>
                        <div class="hide" name="output-menu" id="output-menu">
                            <input class="input input-small" id="output" name="output" placeholder="output area for your workflow">
                        </div>
                    </li>
                    -->

                    <!-- Workflow sub-menu -->
                    <li class="menu-item">
                        <a href="javascript:FlipTag('workflows')" class="menu-link">Workflow</a>
                        <div class="hide" name="workflows" id="workflows">
                            <div class="submenu">
                            <ul class="menu-list">
{{range $rec := .Workflows}}
                                <li class="menu-item">
                                    <a href="javascript:ShowTag('workflows');AddWorkflow('{{$rec.Name}}');HideTag('workflows')" class="menu-link">{{$rec.Name}}</a>
                                </li>
{{end}}
                            </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Reader submenu -->
                    <li class="menu-item">
                        <a href="javascript:FlipTag('readers')" class="menu-link">Reader</a>
                        <div class="hide" name="readers" id="readers">
                            <div class="submenu">
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="javascript:ShowTag('workflow');AddReader('noreader');HideTag('readers')" class="menu-link">No reader</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:ShowTag('workflow');AddReader('Yaml');HideTag('readers')" class="menu-link">Yaml reader</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:ShowTag('workflow');AddReader('Nexus');HideTag('readers')" class="menu-link">Nexus reader</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:ShowTag('workflow');AddReader('CSV');HideTag('readers')" class="menu-link">CSV reader</a>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Writer submenu -->
                    <li class="menu-item">
                        <a href="javascript:FlipTag('writers')" class="menu-link">Writer</a>
                        <div class="hide" name="writers" id="writers">
                            <div class="submenu">
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="javascript:ShowTag('workflow');AddWriter('nowriter');HideTag('writers')" class="menu-link">No writer</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:ShowTag('workflow');AddWriter('Yaml');HideTag('writers')" class="menu-link">Yaml writer</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:ShowTag('workflow');AddWriter('Nexus');HideTag('writers')" class="menu-link">Nexus writer</a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:ShowTag('workflow');AddWriter('CSV');HideTag('writers')" class="menu-link">CSV writer</a>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">Processor</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">Filter</a>
                    </li>
            </nav>
        </div>
        <div id="chap-notebook" name="chap-notebook" class="column column-9">
            <div id="workflowconfig" name="workflowconfig"></div>
            <div id="please-wait" name="please-wait" class="img-center hide">
                <img src="{{.Base}}/images/wait.gif" alt="please wait for its completion" width="48">
                Your new CHAP workflow is scheduled and run right now
            </div>

            <iframe id="notebook" name="notebook" src="{{.JupyterHost}}/notebooks{{.Notebook}}?kernel_name=python3&token={{.JupyterToken}}"
                    width="100%"
                    height="450"
                    style="border:1px solid black;"
                    title="notebook">
            </iframe>
        </div>

    </div>
    <div id="chap-buttons" name="chap-buttons" class="grid">
        <div class="column column-5">
            &nbsp;
        </div>
        <div class="column column-7">
            &nbsp;
            <a href="javascript:RunCHAP('')" class="button button-primary button-small button-round">Run</a>
            &nbsp;
            <a href="javascript:RunCHAP('profile')" class="button button-primary button-small button-round">Profile</a>
            &nbsp;
            <a href="{{.Base}}/chap/commit" class="button button-primary button-small button-round">Commit</a>
            &nbsp;
            <a href="{{.Base}}/chap/publish" class="button button-primary button-small button-round">Publish</a>
        </div>
    </div>
  </div> <!-- class="notebook" -->
</section>
