<section>
  <div class="notebook">
    <h1>CHAP Notebook</h1>
    <div class="pipeline">
        <div class="hide" id="workflow" name="workflow"></div>
        <div id="pipeline" name="pipeline"></div>
        <input type="hidden" id="chapworkflow" name="chapworkflow" value="" />
        <input type="hidden" id="token" name="token" value="{{.JupyterToken}}" />
        <input type="hidden" id="base" name="base" value="{{.Base}}" />
    </div>

    <div class="grid">
        <div class="column column-3">
            <nav class="menu menu-strong menu-pills">

                <!-- Sub-menu items -->
                <ul class="menu-list">

                    <!-- Workflow sub-menu -->
                    <li class="menu-item">
                        <a href="javascript:FlipTag('workflows')" class="menu-link">Workflows</a>
                        <div class="hide" name="workflows" id="workflows">
                            <div class="submenu">
                            <ul class="menu-list">
{{range $rec := .Workflows}}
                                <li class="menu-item">
                                    <a href="javascript:ShowTag('workflows');AddWorkflow('{{$rec.Name}}');HideTag('workflows');ShowNotebook()" class="menu-link">{{$rec.Name}}</a>
                                </li>
{{end}}
                            </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Reader submenu -->
                    <li class="menu-item">
                        <a href="javascript:FlipTag('readers')" class="menu-link">Readers</a>
                        <div class="hide" name="readers" id="readers">
                            <div class="submenu">
                            <ul class="menu-list">
{{range $reader := .Readers}}
                                <li class="menu-item">
                                    <a href="javascript:DocResponse('{{$reader}}');HideTag('readers')" class="menu-link">{{$reader}}</a>
                                </li>
{{end}}
                                </li>
                            </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Writer submenu -->
                    <li class="menu-item">
                        <a href="javascript:FlipTag('writers')" class="menu-link">Writers</a>
                        <div class="hide" name="writers" id="writers">
                            <div class="submenu">
                            <ul class="menu-list">
{{range $writer := .Writers}}
                                <li class="menu-item">
                                    <a href="javascript:DocResponse('{{$writer}}');HideTag('writers')" class="menu-link">{{$writer}}</a>
                                </li>
{{end}}
                            </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:FlipTag('processors')" class="menu-link">Processor</a>
                        <div class="hide" name="processors" id="processors">
                            <div class="submenu">
                            <ul class="menu-list">
{{range $proc := .Processors}}
                                <li class="menu-item">
                                    <a href="javascript:DocResponse('{{$proc}}');HideTag('processors')" class="menu-link">{{$proc}}</a>
                                </li>
{{end}}
                            </ul>
                            </div>
                        </div>
                    </li>
            </nav>
        </div>
        <div id="chap-notebook" name="chap-notebook" class="column column-9">
            <div id="workflowconfig" name="workflowconfig"></div>
            <div id="doc-response" name="doc-response" class="hide">{{.yamlReader}}</div>
            <div id="please-wait" name="please-wait" class="hide">
                <img src="{{.Base}}/images/wait.gif" alt="please wait for its completion" width="48">
                Your new CHAP workflow is scheduled and run right now
                <div id="wait-output">
                    Workflow output will appear in your
                    <a href="{{.Base}}/users/{{.User}}">user area</a>
                </div>
            </div>

            <iframe id="notebook" name="notebook" src="{{.JupyterHost}}/notebooks{{.Notebook}}?kernel_name=python3&token={{.JupyterToken}}"
                    width="100%"
                    height="450"
                    style="border:1px solid black;"
                    title="notebook">
            </iframe>
        </div>

    </div>
    <div id="chap-buttons" name="chap-buttons">
    <div class="grid">
        <div class="column column-5">
            &nbsp;
        </div>
        <div class="column column-7">
            &nbsp;
            <a href="javascript:RunCHAP('')" class="button button-primary button-small button-round">Run</a>
            &nbsp;
            <a href="javascript:RunCHAP('profile')" class="button button-primary button-small button-round">Profile</a>
            &nbsp;
            <a href="{{.Base}}/chap/commit" class="button button-primary button-small button-round">Commit</a>
            &nbsp;
            <a href="{{.Base}}/chap/publish" class="button button-primary button-small button-round">Publish</a>
        </div>
    </div>
    </div>
  </div> <!-- class="notebook" -->
</section>
