<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAPBook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{.Base}}/images/favicon.ico">
    <link rel="stylesheet" href="{{.Base}}/css/top.css">
    <!-- https://imperavi.com/superkube/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/superkube@latest/dist/superkube.min.css">
    <script type="text/javascript" src="{{.Base}}/js/utils.js"></script>
</head>
<body>

<header>
{{if eq .User ""}}
    <h1 class="white">{{.Title}}</h1>
{{else}}
    <h1 class="white">{{.Title}} ({{.User}})</h1>
{{end}}
    <br/>
    <div class="white">
        <a href="{{.Base}}/" class="button button-light-outline button-small button-round">Home</a>
        &nbsp;
        <a href="{{.Base}}/notebook" class="button button-light-outline button-small button-round">Notebook</a>
        &nbsp;
        <a href="{{.Base}}/workflows" class="button button-light-outline button-small button-round">Workflows</a>
        &nbsp;
        <a href="{{.Base}}/docs" class="button button-light-outline button-small button-round">Docs</a>
        &nbsp;
        <a href="{{.Base}}/login" class="button button-light-outline button-small button-round">Login</a>
    </div>
</header>


