{
    "content": {
        "metadata": {},
        "nbformat": 4,
        "nbformat_minor": 0,
        "cells": [
            {
                "cell_type": "markdown",
                "metadata": {},
                "source": "### Welcome to CHAP notebook, user {{.User}}"
            },
            {
                "cell_type": "code",
                "execution_count": null,
                "metadata": {},
                "outputs": [],
                "source":"# CHAP imports\nfrom CHAP.pipeline import PipelineItem\n# define pipeline object\npipeline = PipelineItem()"
            }
        ]
    },
    "created": "{{.Created}}",
    "format": "json",
    "last_modified": "{{.Created}}",
    "mimetype": null,
    "name": "userprocessor.ipynb",
    "path": "userprocessor.ipynb",
    "type": "notebook",
    "writable": true
}
