<section>
  <article>
      <div class="alert alert-success">
          <h2>Workflow: {{.Workflow}}</h2>
          <h3>Configuration:</h3>
          <pre>
          {{.Config}}
          </pre>
      </div>
  </article>
</section>
